@{
    ViewBag.Title = "Index";
}
<app-root (onMenuClicked)="onMenuClicked($event)">
    <div class="alert alert-info" role="alert">
        Loading… <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </div>
</app-root> 