<div class="container">
    <div class='row'>
        <div class="col-xs-12">
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a routerLink = "/add">ADD</a></li>
                    <li role="presentation"><a routerLink = "/edit">EDIT</a></li>
                    <li role="presentation"><a routerLink = "/view">VIEW</a></li>
                    <li role="presentation"><a routerLink = "/delete">DELETE</a></li>
                    <li role="presentation"><a routerLink = "/clone">CLONE</a></li>
                    <li role="presentation"><a routerLink = "/export">EXPORT</a></li>
                    </ul>
            </nav>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>


