<header>
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li [ngClass]="{'active': activeMenu=='add'}" role="presentation"><a routerLink="/add">ADD</a></li>
            <li [ngClass]="{'active': activeMenu=='edit'}" role="presentation"><a routerLink="/edit">EDIT</a></li>
            <li [ngClass]="{'active': activeMenu=='view'}" role="presentation"><a routerLink="/view">VIEW</a></li>
            <li [ngClass]="{'active': activeMenu=='delete'}" role="presentation"><a routerLink="/delete">DELETE</a></li>
            <li [ngClass]="{'active': activeMenu=='clone'}" role="presentation"><a routerLink="/clone">CLONE</a></li>
            <li [ngClass]="{'active': activeMenu=='export'}" role="presentation"><a routerLink="/export">EXPORT</a></li>
        </ul>
    </nav>
</header>
<content>
    <router-outlet></router-outlet>
</content>


